## Data Cleansing
Data cleansing, also known as data cleaning or data scrubbing, is the process of identifying and correcting errors or inconsistencies in datasets. In the realm of data analysis, having clean and accurate data is crucial for making informed decisions and drawing meaningful insights.

Data cleansing involves several tasks, including:

1. **Handling Missing Values:** Identifying and dealing with missing data points, which could involve filling in missing values, removing incomplete records, or using imputation techniques.

2. **Removing Duplicates:** Identifying and removing duplicate entries in a dataset to avoid skewing analysis results.

3. **Standardizing Data Formats:** Ensuring consistency in data formats, units, and representations to facilitate accurate analysis.

4. **Correcting Inaccuracies:** Detecting and rectifying inaccurate data, whether it's due to errors in data entry or other factors.

5. **Handling Outliers:** Identifying and addressing outliers that can significantly impact statistical analyses.

6. **Addressing Typos and Inconsistencies:** Correcting typographical errors and ensuring consistency in naming conventions and coding.

7. **Dealing with Inconsistent Data:** Resolving inconsistencies in data, such as conflicting information or discrepancies between different data sources.

The goal of data cleansing is to improve the quality of the data, making it more reliable and suitable for analysis. By ensuring that the data is accurate, complete, and consistent, analysts can trust their findings and make more informed decisions.

In [1]:
#import liblary
import pandas as pd
import numpy as np

### Quality Checking

In [2]:
# lOAD dATA
df = pd.read_csv("data/melb_data.csv")

In [3]:
# Show up data (random nya 5)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
# show bottom of data
df.tail()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [5]:
# show info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [6]:
# show missing
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
# show descriptive stats
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

### How To Deal With Missing Values
Dealing with missing values is crucial in data analysis, as they can lead to biased or inaccurate results if not handled properly. Here are some common approaches to address missing values:

1. **Identify the Missing Values:**
   - Start by identifying the columns or variables that contain missing values.

2. **Understand the Nature of Missing Data:**
   - Determine whether the missing values are missing completely at random, missing at random, or missing not at random. This can guide your choice of imputation methods.

3. **Remove Missing Values:**
   - If the proportion of missing values is small and the missingness is random, you may choose to remove the rows with missing values. However, be cautious as this can lead to loss of valuable information.

4. **Imputation:**
   - Imputation involves filling in missing values with estimated or predicted values. Common imputation methods include mean, median, mode imputation, or using more advanced techniques such as regression imputation or machine learning-based imputation.

5. **Create a Missing Indicator:**
   - Create a binary indicator variable that flags whether a value was missing. This can help the model learn if missingness itself is predictive.

6. **Domain-Specific Imputation:**
   - In some cases, domain knowledge can guide the imputation process. For example, replacing missing age values with the mean age might not be appropriate if age is strongly correlated with another variable.

7. **Multiple Imputation:**
   - This involves creating multiple imputed datasets and combining the results. It accounts for the uncertainty associated with missing data.

8. **Use Specialized Libraries:**
   - Many programming languages, such as Python with libraries like Pandas or scikit-learn, provide functions for handling missing values. These libraries often offer convenient methods for imputation.

9. **Consideration of Missing Data Mechanism:**
   - Understanding the reason for missing data can guide the choice of imputation method. For example, if data is missing because of a sensor malfunction, it might be different from data missing because participants chose not to answer a question.

10. **Validation:**
    - After imputation, validate the imputed values and assess whether the chosen method is suitable for your specific dataset.

Remember that the choice of method depends on the specific characteristics of your data, the extent of missingness, and the goals of your analysis. It's always good practice to document the steps taken to handle missing values in your analysis

### Drop Missing Values / Delete

>### 1. Listwise
>- Listwise drop involves removing entire rows of data that contain at least one missing value.
>- Pros: Simple and quick.
>- Cons: Can result in the loss of a substantial amount of data, especially if most rows contain at least one missing value.

In [8]:
# Copy Dataset
df1 = df.copy()

In [9]:
df1.shape

(13580, 21)

In [10]:
#dropping values using dropna
df1_dropped1 = df1.dropna()

In [11]:
#check shape after dropping
df1_dropped1.shape

(6196, 21)

In [12]:
# reset index
df1_dropped1 = df1_dropped1.reset_index(drop=True)

In [13]:
# Checking null values after dropping
df1_dropped1.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

> ### 2. Column Dropping
>- Column dropping involves removing entire columns that contain at least one missing value.
>- Pros: Facilitates analysis if the column is not crucial or if most of its values are missing.
>- Cons: If the column is actually important or holds valuable information, this can lead to information loss.

In [14]:
# copy dataset
df2 = df.copy()

In [15]:
# dropping entire column (BuildingArea)
df2_dropped = df2.drop('BuildingArea', axis=1)

In [16]:
df2_dropped.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [17]:
# dropping multiple columns - alternative
df2_dropped = df2_dropped.drop(columns = ['YearBuilt', 'CouncilArea'])

In [18]:
df2_dropped.isna().sum()

Suburb            0
Address           0
Rooms             0
Type              0
Price             0
Method            0
SellerG           0
Date              0
Distance          0
Postcode          0
Bedroom2          0
Bathroom          0
Car              62
Landsize          0
Lattitude         0
Longtitude        0
Regionname        0
Propertycount     0
dtype: int64

In [19]:
# we can use dropna after we see our data is fit for it (null values is less than 2% or 3%)
df2_dropped = df2_dropped.dropna()

In [20]:
# reset index
df2_dropped = df2_dropped.reset_index(drop = True)

In [21]:
# Check shape after dropping
df2_dropped.shape

(13518, 18)

In [22]:
df2_dropped.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

>### 3. Pairwise
>- Pairwise dropping involves removing missing values in pairs, meaning if there is one missing value in a pair, that row is dropped.
>- Pros: Allows retaining most of the data if missing values are scattered randomly.
>- Cons: Can result in a significant loss of data if there are many missing values throughout the dataset.

In [23]:
df3 = df.copy()

In [24]:
df3_dropped = df3.dropna(subset=['Car'])

In [25]:
df3_dropped.shape

(13518, 21)

In [26]:
df3_dropped.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6417
YearBuilt        5344
CouncilArea      1307
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

### Impute Missing Values

In [27]:
# copy data
df4 = df.copy()

In [28]:
# show the decsriptive stats (BuildingArea)
df4['BuildingArea'].describe()

count     7130.000000
mean       151.967650
std        541.014538
min          0.000000
25%         93.000000
50%        126.000000
75%        174.000000
max      44515.000000
Name: BuildingArea, dtype: float64

In [29]:
# fill / impute data with mean
df4['BuildingArea'] = df4['BuildingArea'].fillna(round(df4['BuildingArea'].mean(),2))

In [30]:
df4.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea        0
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [31]:
# fill every missing values with mean
df4= df4.fillna(df4.mean())

C:\Users\DIMAS\AppData\Local\Temp\ipykernel_9060\3733861479.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df4= df4.fillna(df4.mean())

In [32]:
# Show data after fill
df4.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [34]:
# feature 'CouncilArea' still null, since its a categorial data -> string
# we can fill this one with mode
df4['CouncilArea'].describe()

count        12211
unique          33
top       Moreland
freq          1163
Name: CouncilArea, dtype: object

In [35]:
df4['CouncilArea'] = df4['CouncilArea'].fillna('Moreland')

In [36]:
df4.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

### Reference
1. https://codeburst.io/understanding-null-undefined-and-nan-b603cb74b44c
2. https://towardsdatascience.com/whats-the-best-way-to-handle-nan-values-62d50f738fc
3. https://chat.openai.com/c/89cc7c16-28b3-4d1c-a70b-3f950b0a0b9b
4. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html